* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
}

.barra-contenedora {
  border: 1px solid #000;
  border-radius: 50px;
  background-color: #CECECE;
  width: 800px;
  height: 20px;
  padding: 3px;
  margin: 60px;
}
.barra-progreso {
  background-color: #6ACC1A;
  border-radius: 50px;
  height: 20px;
}
.porcentaje-completado {
  margin-left: 20px;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #303030;
}